:export {
  textColor: $text-color;
  inputTextColor: $input-text-color;
  containerColor: $container-color;
  spinnerColor: $spinner-color;
  buttonTextColor: $button-text-color;
  buttonColorBlue: $button-color-blue;
  buttonColorOrange: $button-color-orange;
  buttonColorGray: $button-text-color-gray;
}
