$text-color: #2b6cb0;
$text-color-white: #fff;
$input-text-color: #000;
$error-text-color: #c53030;
$container-color: #d6bcfa;
$button-color: #b794f4;
$button-text-color: #fff;
$background-color: #fff;
$spinner-color: #2b6cb0;
$progress-bar-background-color: #e2e8f0;
$progress-bar-color: #2b6cb0;
