.main {
  display: flex;
  flex-direction: column;
  gap: $gap-md;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;

  .element-container {
    display: flex;
    flex-direction: column;
    gap: $gap-xl;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
}
